
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"> <!-- Optional: Link to CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <nav class="bg-white shadow-lg p-4">
        <div class="flex justify-between items-center">
            <a href="" class="flex items-center">
                <img class="h-9 mr-3" src="https://cdn2.iconfinder.com/data/icons/social-flat-buttons-3/512/etsy-256.png" alt="E-commerce Logo">
                <span class="self-center text-xl font-semibold">E-commerce</span>
            </a>
            <div class="flex space-x-6">
                <a href="" class="text-blue-600 hover:text-blue-800">Dashboard</a>
                <a href="" class="text-blue-600 hover:text-blue-800">Sales</a>
                <a href="" class="text-blue-600 hover:text-blue-800">Orders</a>
                <a href="" class="text-blue-600 hover:text-blue-800">Create Products</a>
                <a href="" class="text-blue-600 hover:text-blue-800">My Purchases</a>
                <a href="" class="text-blue-600 hover:text-blue-800">Logout</a>
            </div>
        </div>
    </nav>
    
    
    
{% block body %}

 {% endblock %}
</body>
</html>